<table id="inventory-list" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name </th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
        <% items.forEach(function(item) { %>
        <tr>
            <td><%= item.name %> </td>
            <td><%= item.qty %></td>
            <td> <a title="Edit this item"  href=<%= '/inventory/edit/'+item._id %> class="
            <%=user.permissions.indexOf('inventory.edit') < 0 ? "disabled" : " " %> edit fa-primary glyphicon glyphicon-edit"></a>
            &nbsp;
             <a title="Delete this item"  item=<%= item._id %> class=" <%=user.permissions.indexOf('inventory.delete') < 0 ? "disabled" : " " %> deleteInventoryItem bg-danger glyphicon glyphicon-trash"></a></td>
        </tr>
    <% }); %>
        </tbody>
</table>